<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  
  <filter>
  	<filter-name>encoding_filter</filter-name>
  	<filter-class>com.blog.filter.EncodingFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>encoding_filter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>login_filter</filter-name>
  	<filter-class>com.blog.filter.LoginFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>login_filter</filter-name>
  	<url-pattern>/static_resource/write/write.html</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>index_filter</filter-name>
  	<filter-class>com.blog.filter.IndexFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>index_filter</filter-name>
  	<url-pattern>/Blog/</url-pattern>
  </filter-mapping>
  
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.blog.servlet.Test</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.blog.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetUserState</servlet-name>
    <servlet-class>com.blog.servlet.GetUserState</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>com.blog.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ArticleSave</servlet-name>
    <servlet-class>com.blog.servlet.ArticleSave</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetArticle</servlet-name>
    <servlet-class>com.blog.servlet.GetArticle</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CountArticle</servlet-name>
    <servlet-class>com.blog.servlet.CountArticle</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>com.blog.servlet.LoginOutServlet</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/servlet/Test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlet/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUserState</servlet-name>
    <url-pattern>/servlet/GetUserState</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/servlet/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ArticleSave</servlet-name>
    <url-pattern>/servlet/ArticleSave</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetArticle</servlet-name>
    <url-pattern>/servlet/GetArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CountArticle</servlet-name>
    <url-pattern>/servlet/CountArticle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/servlet/LoginOutServlet</url-pattern>
  </servlet-mapping>

</web-app>